body {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	color: white;
	background-color: darkslategray
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

h2 {text-align: center}

p {
    	font-size: 19px;
<<<<<<< HEAD
=======
    	font-weight: 500;
>>>>>>> e1d822f40e7cc60619f7bf9cf1472030a95b9f7e
    	text-align: justify;
    	line-height: 1.4em;
}
