body {
	/*font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";*/
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
	color: white;
	background-color: darkslategray
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
}

h2 {
	text-align: center;
}

p {
	/*font-family: "Courier New" Courier monospace;*/
	font-size: 1.2em;
	text-align: justify;
}
